*/* {
    font-family: Fugaz;
}

.wrapper {
    background-image: url(/assets/images/bgtexture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    padding: 2rem;
}

.about-txt {
    background-color: white;
    color: #5F002B;
}*/


/* fonts for rafa comment this out 




/* Rafa's CSS Below */


/* nav bar styling below here RM */
.navBar {
    font-family: Montauk-Regular;
    src: url(../assets/fonts/Montauk-Regular.otf);
}

/* nav bar styling above here RM */
@font-face {
    font-family: Montauk-Regular;
    src: url(../assets/fonts/Montauk-Regular.otf);
}

.montaukFont {
    font-family: Montauk-Regular;
}

fontRed {
    color: #5F002B;
}









body {
    background-image: url(/assets/images/bgtexture.jpg);
}

/*.headLink {
    font-family: Montauk-Regular;
    src: url(../assets/fonts/Montauk-Regular.otf);
     
}
*/
p {
    color: #5F002B;
}

/* hero styles go below here*/
.hero-content {
    background-image: url(../assets/images/homeHero.jpg);
}